
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }
    @media (min-width: 1200px) {
        .bd-placeholder-img-xl {
          font-size: 4.5rem;
        }
    }
    @media (min-width: 1400px) {
        .bd-placeholder-img-xxl {
          font-size: 5.5rem;
        }
    }
    main > .container {
        padding: 60px 15px 0;
    }
        h1, h2{
            font-family: 'Knewave', cursive;
            color: var(--fonce);
        }