h1{
    color:#002931;
}

.bgPrimary {
    background-color: #FCDA00;
}

.bgSecondary {
    background-color: #003844;
}

.colorTextP {
    color: #FCDA00;
}

.colorTextS {
    color: #003844;
}

#monCarousel {
    max-width: 600px;
    border-radius: 25px;
}
.carousel-item{
    height: 337px;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    padding: 15px;
    
}
.card-img-top{
    height: 200px;
    width: 250px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
}
.bandeau_h1{
    background-color:#FCDA00 ;
}
.card{
    background-color: #002931;
    margin: 5px auto;
}
p.card-text{
    color: white;
}
.btn-primary{
    background-color: #FCDA00;
    color: #002931;
    border: none;
    padding: 0.7em;
    border-radius: 25px;
}
.btn-primary a {
    text-decoration: none;
    color:#003844;
}
.btn-secondary {
    background-color:#003844;
    color: #FCDA00;
    border: none;
    padding: 0.7em;
    border-radius: 25px;
}
.btn-secondary a {
    text-decoration: none;
    color: #FCDA00;
}
h3, h3.card-title{
    color:#FCDA00;
}
.description-produits {
    max-width: 700px;
    color: #003844;
    line-height: 1.6;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logoMain img {
    max-height: 500px;
}
.titlecolor{
    color:#FCDA00;
}
.spancolor{
    color: white;
}