:root{
    --bleu-ciel: #62E3FF;
    --jaune: #FCDA00;
    --fonce: #002931;
}

body{
    font-family: "Kumbh Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Knewave", system-ui;
}


.btn-primary {
    --bs-btn-color: var(--fonce);
    --bs-btn-bg: var(--jaune);
    --bs-btn-border-color: var(--jaune);
    --bs-btn-hover-color: var(--fonce);
    --bs-btn-hover-bg: var(--bleu-ciel);
    --bs-btn-hover-border-color: var(--bleu-ciel);
    --bs-btn-active-color: var(--fonce);
    --bs-btn-active-bg: var(--bleu-ciel);
    --bs-btn-active-border-color: var(--bleu-ciel);
}

.title-card{
    background: var(--fonce);
    color: #fff
}

.title-card h1{
    color: var(--jaune);
}

header, footer{
    background: var(--jaune);
    border-radius: 20px;
    color: var(--fonce)
}

header img, footer img{
    border-radius: 10px;;
}

.nav{
    --bs-nav-link-color: var(--fonce);
}

.nav a:hover, .nav a:visited{
    color: var(--fonce);
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.nav-link.active{
    color: var(--fonce);
    font-weight: bold;
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

.breadcrumb-item a{
    color: var(--fonce);
    transition: all ease 0.1s;
}

.breadcrumb-item a:hover{
    color: var(--jaune);
}

h1{
    color:#002931;
}

.bgPrimary {
    background-color: #FCDA00;
}

.bgSecondary {
    background-color: #003844;
}

.colorTextP {
    color: #FCDA00;
}

.colorTextS {
    color: #003844;
}

#monCarousel {
    max-width: 600px;
    border-radius: 25px;
}
.carousel-item{
    height: 337px;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    padding: 15px;
    
}
.card-img-top{
    height: 200px;
    width: 250px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
}
.bandeau_h1{
    background-color:#FCDA00 ;
}
.card{
    background-color: #002931;
    margin: 5px auto;
}
p.card-text{
    color: white;
}
.btn-primary{
    background-color: #FCDA00;
    color: #002931;
    border: none;
    padding: 0.7em;
    border-radius: 25px;
}

.btn-primary a {
    text-decoration: none;
    color:#003844;
}

.btn-secondary {
    background-color:#003844;
    color: #FCDA00;
    border: none;
    padding: 0.7em;
    border-radius: 25px;
    --bs-btn-hover-color: #003844;
    --bs-btn-hover-bg: #62E3FF;
    --bs-btn-hover-border-color: #62E3FF;
    --bs-btn-active-color: #003844;
    --bs-btn-active-bg: #62E3FF;
    --bs-btn-active-border-color: #62E3FF;
}

.btn-secondary a, .btn-secondary a:active {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

h5, h5.card-title{
    color:#FCDA00;
}

.description-produits {
    max-width: 700px;
    color: #003844;
    line-height: 1.6;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logoMain img {
    max-height: 500px;
}
