/* Police titre : Knewave
Police texte : Kumbh Sans
Bleu ciel : #F62E3FF
Jaune : #FCDA00
Foncé : #002931 */

:root{
    --bleu-ciel: #62E3FF;
    --jaune: #FCDA00;
    --fonce: #002931;
}

body{
    font-family: "Kumbh Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Knewave", system-ui;
}


.btn-primary {
    --bs-btn-color: var(--fonce);
    --bs-btn-bg: var(--jaune);
    --bs-btn-border-color: var(--jaune);
    --bs-btn-hover-color: var(--fonce);
    --bs-btn-hover-bg: var(--bleu-ciel);
    --bs-btn-hover-border-color: var(--bleu-ciel);
}

.title-card{
    background: var(--fonce);
    color: #fff
}

.title-card h1{
    color: var(--jaune);
}

header, footer{
    background: var(--jaune);
    border-radius: 20px;
    color: var(--fonce)
}

header img, footer img{
    border-radius: 10px;;
}

.nav{
    --bs-nav-link-color: var(--fonce);
    --bs-nav-link-hover-color: #fff;
}

.nav-link.active{
    color: #fff
}

.breadcrumb-item a{
    color: var(--fonce);
    transition: all ease 0.1s;
}

.breadcrumb-item a:hover{
    color: var(--jaune);
}
