/* Police titre : Knewave
Police texte : Kumbh Sans
Bleu ciel : #F62E3FF
Jaune : #FCDA00
Foncé : #002931 */

:root{
    --bleu-ciel: #62E3FF;
    --jaune: #FCDA00;
    --fonce: #002931;
}

body{
    font-family: "Kumbh Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Knewave", system-ui;
}

.btn-primary {
    --bs-btn-color: var(--fonce);
    --bs-btn-bg: var(--jaune);
    --bs-btn-border-color: var(--jaune);
    --bs-btn-hover-color: var(--fonce);
    --bs-btn-hover-bg: var(--bleu-ciel);
    --bs-btn-hover-border-color: var(--bleu-ciel);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--fonce);
    --bs-btn-active-bg: var(--bleu-ciel);
    --bs-btn-active-border-color: var(--bleu-ciel);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--fonce);
    --bs-btn-disabled-bg: var(--jaune);
    --bs-btn-disabled-border-color: var(--jaune);
}

.title-card{
    background: var(--fonce);
    color: #fff
}

.title-card h1{
    color: var(--jaune);
}

header, footer{
    background: var(--fonce);
    border-radius: 20px;
    color: #fff;
}

header img, footer img{
    border-radius: 10px;;
}

.nav{
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: var(--jaune);
    --bs-nav-link-disabled-color: var(--bleu-ciel);
}
.nav-link.active{
    color: var(--bleu-ciel)
}
